# Build directories
cmake-build-debug/
cmake-build-release/

.idea/

*.o
*.a
*.so
*.exe
*.log

Runs/**
!Runs/.gitkeep
Runs/*.csv
Runs/*.txt
Runs/*.png

CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake

